
<img class= "icon_bottom" src="/images/eContacts.png" width="30px" height="30px" alt="" />
<img class= "icon_top" src="/images/2ndTier.png" width="30px" height="30px" alt="" />

<img class= "icon_left" src="/images/locations_white.png" width="30px" height="30px" alt="" />
<img class= "icon_right" src="/images/quickFacts_white.png" width="30px" height="30px" alt="" />

<h1 class="home_title">WATCH OUT!</h1>
<img class="logo" src="/images/SES.jpg" alt=""/>
